<mat-card class="mb-3 user-card">
  <mat-card-title>Jan Kowalski</mat-card-title>
  <mat-card-subtitle>Miłego dnia</mat-card-subtitle>
  <dl>
    <dt>Najbliższy trening</dt>
    <dd>{{(closestEvent$|async)?.title}} ({{(closestEvent$|async)?.start | date:"dd.MM.yyyy"}})</dd>
    <dt>Ilość odbytych treningów</dt>
    <dd class="mb-0">{{pastEventsCount$| async}}</dd>
  </dl>
</mat-card>

<mwl-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-calendar-header>

<ng-container *ngIf="(events$ | async) as events">
  <div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="true"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-day-view>
  </div>
</ng-container>
