
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer mode="side" class="modern-drawer">
        <mat-nav-list>
            <mat-list-item 
                *ngFor="let link of filteredLinks$ | async"
                [routerLink]="link.path"
                [routerLinkActiveOptions]="getIsHomePage(link) ? { exact: true } : { exact: false }"
                routerLinkActive="is-active"
                class="list__item item"
            >
                <div class="item__link d-flex align-items-center">
                    <mat-icon class="item__icon me-2">{{ link.icon }}</mat-icon>
                    <span class="item__text">{{ link.name }}</span>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
  
    <div class="min-vh-100 ">
        <mat-toolbar class="modern-header">
            <button mat-icon-button (click)="drawer.toggle()" class="header-button">
              <mat-icon>menu</mat-icon>
            </button>
          
            <div class="header-title">
              <span class="app-name">Fitness Club Manager</span>
            </div>
          
            <span style="flex: 1 1 auto;"></span>
          
            <button mat-icon-button (click)="onLogout()" class="header-button">
              <mat-icon>logout</mat-icon>
            </button>
          </mat-toolbar>
        <div class="p-3">
            <mat-card class="p-4">
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </div>
  
  </mat-drawer-container>
